
{% extends 'layout.html' %}
{% block  body  %}


    <section class="about">
        <h3>About</h3>
        <div class="line"></div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque ut rerum veniam repellat perspiciatis numquam
            animi ratione assumenda, rem id minima molestiae, dignissimos ipsum aperiam voluptatum facilis tempore
            adipisci repellendus, ipsam corporis. Suscipit, nulla?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Odio a repudiandae at excepturi voluptate, atque harum illum fugit vel totam odit obcaecati, fuga
            error perspiciatis repellendus sit dolorem. Suscipit adipisci officia eum beatae perferendis voluptates
            explicabo! Recusandae voluptates maiores beatae consectetur odio, dicta tenetur quaerat?</p>
    </section>
    

    {% endblock body %}
  